body{
  background-image: url(../images/gstaad_palace.jpg);
  background-size: cover;
  background-position: center;
}
.account-page{
  width: 400px;
  padding: 10% 0 0;
  margin: auto;
  opacity: 0.9;
}
.form{
  position: relative;
  z-index: 1;
  background: #003768;
  max-width: 400px;
  margin: 0 auto;
  padding: 60px;
  text-align: center;
  opacity:1
 }
.form input{
  font-family: "Gill Sans", sans-serif;
  outline: 1;
  background: #ffffff;
  width: 80%;
  border: 0;
  padding: 30px;
  box-sizing: 20px;
}
/*
.form login{
  font-family: "Gill Sans", sans-serif;
  outline: 0;
  background: #fffdd0;
  width: 100%;
  border: 0;
  padding: 20px;
  color: #2f4f4f;
  font-size: 20px;
  cursor: pointer;
}
*/
input[type="submit" i] {
  background: #fffdd0;
}