body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0px;
}

/* --------header-------- */
#header {
    display: grid;
    grid-template-columns: 1fr;
}

/* --------main-------- */
/* --------banner-------- */
.banner {
    width: 100%;
    top: 86px;
    z-index: -100;
}

.banner-wrapper {
    background-image: linear-gradient(to right, #0B345C,#0f1622);
    overflow: auto;
}

.banner-text-wrapper {
    margin: 130px 15% 70px 15%;
    color: #FFD564;
    transition: 1s;
}

.banner-course-code {
    margin: 0;
    font-size: 4rem;
    font-weight: 900;
}

.banner-name {
    margin: 10px 0px;
    font-size: 2rem;
    font-weight: 600;
}

.banner-description {
    margin: 20px 0px 0px 0px;
    font-size: 1.5rem;
    font-weight: 100;
}

.banner-text-invisible {
    color: transparent;
    border-left: 3px solid transparent;
    transition: 1s;
}

.banner-img-wrapper {
    background-image: linear-gradient(to right, #0B345C,#0f1622);
}

.banner-wave {
    width: 100%;
    background-image: linear-gradient(to right, #0B345C,#0f1622);
    z-index: 3;
}

/* --------main content-------- */
.content-wrapper {
    margin: 70px 10%;
}

.content-fragment {
    padding: 40px;
    border-radius: 15px;
}

.content-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 10px;
}

.border-bottom {
    border-bottom: 2px solid #fff;
}

.margin-top {
    margin-top: 50px;
}

.center {
    margin: auto;
}

.blue-linear {
    background-image: linear-gradient(to right, #0B345C,#0f1622);
}

.yellow-linear {
    background-image: linear-gradient(to right, #ffc018,#FFD564);
}

.pink-background {
    background-color: #D8345C;
}

.blue-background {
    background-color: #0B345C;
}

.yellow-color {
    color: #FFD564;
}

.blue-color {
    color: #0B345C;
}

.pink-color {
    color: #D8345C;
}

.white-color {
    color: #fff;
}

.black-color {
    color: #0B345C;
}

.text-header {
    margin: 0px;
    font-weight: 900;
    font-size: 2.5rem;
}

.text-tags {
    display: block;
    margin: 15px 0 0 0;
    padding: 0px;
}

.text-tag {
    display: inline-block;
    padding: 6px 10px;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.text-content {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.highlight {
    font-weight: 900;
    font-size: 1.5rem;
}

.underline {
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.3rem;
}

/* --------footer-------- */
.footer {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
}

.footer-wrapper {
    background-image: linear-gradient(to right, #0B345C,#0f1622);
    /* overflow: auto; */
}

.footer-text-background {
    background-image: linear-gradient(to right, #0B345C,#0f1622);
    overflow: auto;
}

.footer-text-wrapper {
    margin: 100px 20%;
    color: #FFD564;
    text-align: center;
}

.link-wrapper {
    margin: 0px 10%;
    margin: auto;
    padding: 15px 0px;
}

.link-text {
    color: #FFD564;
    font-size: 2rem;
    font-weight: 600;
    margin: 20px;
}

.blurb-text {
    font-size: 1.5rem;
    font-weight: 200;
}