body{
    font-family: "Raleway", sans-serif;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}

main{
    margin-top: 100px;
}

/* --------header-------- */
#header {
    display: grid;
    grid-template-columns: 1fr;
}


/* --------title-------- */
.title-wrapper{
    margin: 40px 10% 5px 10%;
}
.title-text{
    justify-content: center;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    /* font-weight: 600; */
    color:#1A2930;
}
.title-line{
    padding-bottom: 0px;
    margin-right: 10%;
    border-bottom: 3px solid #0A1612;
}

.title-description-text{
    margin-top: 1%;
    color:#3E6B7E;
    font-size: 1.5rem;
}

/* --------content wrap-------- */
.content-wrapper{
    margin: 0px 5% 0px 5%;
}

.block-wrapper{
    display: grid;
    margin: 10px;
}


/* --------feedback-------- */
.feedback-element{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    border: 2px solid #0B345C;
    margin: 2%;
    padding: 5%;
    border-radius: 15px;
}

.feedback-title{
    color:  #3E6B7E;
    font-weight: 600;
    font-size: 2rem;
}
.question{
    padding-bottom: 15px;
}

input[type=submit]{
    width: 100%;
    font-size: 1.5rem;
    color: #0B345C;
    background-color: #efefef;
    padding-top: 7px;
    padding-bottom: 8px;

    border: none;
    border-radius: 15px;
}

input[type=submit]:hover{
    background-color: #ddd9d4;
}

input[type=name]{
    width: 45%;
    height: 30px;
    margin-left: 5px;
}

input[type=text]{
    width: 100%;
    height: 80px;
    resize: none;
}

label{
    /* margin-top: 10px; */
    margin: auto;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-right: 2%;
    
}

textarea{
    width: 80%;
    margin-left: 0px;
    height: 150px;
    font-size: 12pt;
}

select{
    font-size: 1rem;
    padding: 10px;
}

.img-wrapper{
    object-fit:cover;
}

.content-text{
    /* margin-top: 10px; */
    margin: auto;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    
}





/* --------footer-------- */
.footer {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr;
}

.footer-wrapper {
    background-image: linear-gradient(to right, #0B345C,#0f1622);
    /* overflow: auto; */
}

.footer-text-background {
    background-image: linear-gradient(to right, #0B345C,#0f1622);
    overflow: auto;
}

.footer-text-wrapper {
    margin: 100px 20%;
    color: #FFD564;
    text-align: center;
}

.link-wrapper {
    margin: 0px 10%;
    margin: auto;
    padding: 15px 0px;
}

.link-text {
    color: #FFD564;
    font-size: 2rem;
    font-weight: 600;
    margin: 20px;
}

.blurb-text {
    font-size: 1.5rem;
    font-weight: 200;
}
