body{
    background-color: white;
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0px;
}

/* --------header-------- */
#header {
    display: grid;
    grid-template-columns: 1fr;
}

/* --------nav bar-------- */
.nav-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: linear-gradient(to right, #0B345C,#0f1622);
    transition: 1s;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 100;
    border-bottom: 1px solid white;
}

.nav-link {
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-link::after {
    display:block;
    content: '';
    border-bottom: solid 3px #D8345C;  
    transform: scaleX(0);
    transition: transform 0.2s;
    transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.nav-link-white {
    display: block;
    margin:10px 20px;
    color: #f5f5f5ef;
    text-decoration: none;
    transition: color 0.5s;
}
  
.nav-link:hover a {
    display: block;
    margin:10px 20px;
    color: #D8345C;
    text-decoration: none;
}

.nav-link:hover::after {
   transform: scaleX(1);
}

.nav-white {
    background-image: linear-gradient(to right, #fff,#fff);
    /* color: #0B345C; */
    opacity: 0.9;
    box-shadow: 0 1px 3px #999;
}

.nav-link-dark {
    color: #0B345C;
    transition: 0s;
}


/*--------main content--------*/
/*--------tag--------*/
.tag-wrapper{
    margin: 100px 0% 0px 5%;
    position: relative;
    top: 25px;
}

.tag-text-upper{
    margin: 0px 25% 0px 0px;
    background-image: linear-gradient(to right, #ffc018,#FFD564);
    border-radius: 10px;
}

.tag-text{
    color: #D8345C;
    font-size: 2.5rem;
    font-weight: 900;
    padding: 20px
}

.tag-lower{
    z-index: -10;
    position: absolute;
    top: 5px;
    margin-left: 2%;
    margin-top: 10px;
    width: 72%;
    height: 90px;
    background-image: linear-gradient(to right, #0B345C,#0f1622);
    border-radius: 10px;
    padding-left: 3%;
}


.content-wrapper{
    margin: 100px 10% 0px 10%;
}

/*--------table--------*/
.table-wrapper{
    transition: 1.5s;
    display: grid;
    grid-row: 1fr 1fr;
    background-image: linear-gradient(to right, #0B345C,#0f1622);
    padding: 40px 40px 60px 40px;
    border-radius: 15px;
}

.table{
    /* background-color: #ffffff; */
    display: grid;
    border: 1px solid white;
    margin: 5px;
    overflow-x: scroll;
}

.header-element{
    flex: 1;
    color: #D8345C;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 1.3rem;
    /* width: 200px; */
    /* border: 2px solid white; */
}

.content-row{
    display: flex;
    /* overflow: scroll; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

.row-color-a{
    background-color: white;
}

.row-color-b{
    background: whitesmoke;
}

.content-element{
    padding: 15px;
    flex: 1;
    color: rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
    align-items:flex-start;
    font-size: 1rem;
    /* width: 200px; */
    /* border: 1px solid black; */
}


/* --------footer-------- */
.footer {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
}

.footer-wrapper {
    background-image: linear-gradient(to right, #0B345C,#0f1622);
    /* overflow: auto; */
}

.footer-text-background {
    background-image: linear-gradient(to right, #0B345C,#0f1622);
    overflow: auto;
}

.footer-text-wrapper {
    margin: 100px 20%;
    color: #FFD564;
    text-align: center;
}

.link-wrapper {
    margin: 0px 10%;
    margin: auto;
    padding: 15px 0px;
}

.link-text {
    color: #FFD564;
    font-size: 2rem;
    font-weight: 600;
    margin: 20px;
}

.blurb-text {
    font-size: 1.5rem;
    font-weight: 200;
}


/* --------colors-------- */
.blue-linear {
    background-image: linear-gradient(to right, #0B345C,#0f1622);
}

.yellow-linear {
    background-image: linear-gradient(to right, #ffc018,#FFD564);
}

.pink-background {
    background-color: #D8345C;
}

.blue-background {
    background-color: #0B345C;
}

.yellow-color {
    color: #FFD564;
}

.blue-color {
    color: #0B345C;
}

.pink-color {
    color: #D8345C;
}

.white-color {
    color: #fff;
}

.black-color {
    color: #0B345C;
}

.green-color{
    color: #85A894;
}

.green-blue-color{
    color: rgb(12, 201, 235)
}

/* --------text styles-------- */
.text-header {
    margin: 0px;
    font-weight: 900;
    font-size: 2.5rem;
}

.text-content {
    margin-top: 5px;
    margin-left: 5%;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5rem;
}

.text-content-line{
    padding-bottom: 0px;
    margin-right: 10%;
    border-bottom: 3px solid white;
}

/* --------hyperlinks-------- */
.hyper-link:visited a {
    color: #85A894;
}

.hyper-link:hover a {
    color: #D8345C;
}

.hyper-link-red a{
    color: red;
}

.hyper-link-red:hover a {
    color: #D8345C;
}


/* @media only screen and(max-width: 1170){
    main{
        position: absolute;
        top:300px;
    }
} */