<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Discussion Board</title>
        <meta http-equiv="refresh" content="1.2; url = http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home"/>
        <link rel="stylesheet" href="../static/styles/discussion-board-style.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/navBar.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Raleway:500,700,900" rel="stylesheet">
        <script src = "{{url_for('static', filename='javascripts/nav.js')}}" defer></script>
        <script src = "{{url_for('static', filename='javascripts/tab.js')}}" defer></script>
    </head>
    <body>
        <header class="header">
            <!-- nav bar -->
            <nav id="nav-bar-id" class="nav-wrapper">
                <div id="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <div id="tab" class="tab-wrapper">
                <div class="name-wrapper"><p class="name">Hello, {{name}}</p></div>
                <div class="nav-link"><a id="home-id" class="nav-link-white" href="{{ url_for('index') }}">Home</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('calendar') }}">Calendar</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('discussionBoard') }}">Discussion Board</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('lectures') }}">Lectures</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('tutorials') }}">Tutorials</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('assignments') }}">Assignments</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('tests') }}">Tests</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('resources') }}">Resources</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('grades') }}">Grades</a></div>
                <div class="name-wrapper"></div>
                </div>
            </nav>
        </header>
        <main>
            <div class="content-wrapper">
                <div class="text loading-animation">
                    ... Redirecting to Discussion Board
                </div>
            </div>
        </main>
    </body>


</html>