<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login/Registration</title>
        <link rel="stylesheet" href="login_style.css">
        <script defer src="login-page.js"></script>
</head>
<body>
    <div class="login-page">
    <div class="form">
        <div class="login-error">
        <p class="error-message">Invalid username or password</p>
        </div>
        <form class="registration">
        <input type ="text" placeholder="Username">
        <input type ="text" placeholder="Password">
        <input type ="text" placeholder="Full Name">
        <input type ="text" placeholder="Student or Teacher?">
        <button>Create Account</button>
        </form>

        <form class="login">
        <input type ="text" placeholder="Username">
        <input type ="text" placeholder="Password">
        <input type="submit" value="Login" class="login-form-submit">
        </form>
    </div>
    </div>

</body>
</html>
