<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Remark Submitted</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/submitted-style.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/navBar.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Raleway:500,700,900" rel="stylesheet">
        <script src = "{{url_for('static', filename='javascripts/nav.js')}}" defer></script>
        <script src = "{{url_for('static', filename='javascripts/tab.js')}}" defer></script>
    </head>
    <body>
        <header class="header">
            <!-- nav bar -->
            <nav id="nav-bar-id" class="nav-wrapper">
                <div id="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <div id="tab" class="tab-wrapper">
                <div class="name-wrapper"><p class="name">Hello, {{name}}</p></div>
                <div class="nav-link"><a id="home-id" class="nav-link-white" href="{{ url_for('home') }}">Home</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('calendar') }}">Calendar</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('discussionBoard') }}">Discussion Board</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('lectures') }}">Lectures</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('tutorials') }}">Tutorials</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('assignments') }}">Assignments</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('tests') }}">Tests</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('resources') }}">Resources & Feedback</a></div>
                <div class="nav-link"><a class="nav-link-white" href="{{ url_for('grades') }}">Grades</a></div>
                <div class="name-wrapper"><a class="nav-link-white" href="/logout">Logout</a></div>
                </div>
            </nav>
        </header>
        <main>
            <div class="content-wrapper">
                <div class="message-wrapper">
                    <div class="col-75">
                        {{ msg }}
                    </div>
                    <div class="col-25">
                        <img src="../static/images/pochita.jpg" width="250">
                    </div>
                </div>
            </div>
            <div class="botton-wrapper">
                <a href="{{ url_for('grades') }}" style="color:black" type="botton">
                    Click here to return to previous section
                </a>
            </div>
            <br><br>
        </main>
    </body>
</html>